body{
    background-color: mintcream;
}
.form{
    margin: 55px;
    padding-left: 56px;
    border: 1px solid;
    width: 560px;
    background-color: antiquewhite;
}
form{
    padding: 5px;
    margin: 5px;
}
label{
    font-weight: bold;
}
input,select{
    padding: 5px;
    margin: 5px;
}


